<!-- templates/guitars_show.html -->
<a href='/'>Back to Home</a>

{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{guitar.name}}</h1>

        <h2>{{ playlist.picture }}</h2>


        <!-- review form -->
        {% include 'partials/review_form.html' %}
        {% include 'partials/review_form.html' %}

    <hr>

    <!-- Show Reviews -->
    {% for review in reviews %}
        {% include 'partials/review.html' %}
    {% endfor %}

    </div>
</div>
{% endblock %}
