<!-- templates/guitars_show.html -->

{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{guitar.name}}</h1>

        <img src="{{ guitar.picture }}" style="width: 100%" alt="guitPic">


        <!-- review form -->
        <form action="/guitars/reviews" method="POST">
            <input type='hidden' value='{{ guitar._id }}' name='guitar_id'/>
            {% include 'partials/review_form.html' %}
        </form>


    <hr>

    <div class = 'row'>
            <div class='col-sm-6 col-sm-offset-3'>
    <!-- Show Reviews -->
                {% for review in reviews %}
                    {% include 'partials/review.html' %}
                {% endfor %}
            </div>
    </div>

    </div>
</div>
{% endblock %}
